<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.AssignmentMapper">
    <select  id="getAssignmentAll" resultType="org.tdos.tdospractice.entity.StudentAnswerEntity">
        select sa.user_id as userId, su.name, case when ss.status is null then 0 else ss.status end as status,
        sa.committed_at as committedAt
        from student_answer sa
        inner join assignment a on a.id = sa.assignment_id
        inner join sim_user su on su.id = sa.user_id
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        inner join course ci on ci.id = ccs.course_id
        inner join class_course cc on cc.course_id = ci.id
        left join student_score ss on ss.assignment_id = sa.assignment_id and ss.user_id = sa.user_id
        where sa.id is not null
        <if test="classId != null and classId != ''" >
            and cc.class_id = #{classId} ::uuid
        </if>
        <if test="courseId != null and courseId != ''" >
            and ccs.course_id = #{courseId} ::uuid
        </if>
        <if test="chapterId != null and chapterId != ''" >
            and ccs.chapter_id = #{chapterId} ::uuid
        </if>
        <if test="sectionId != null and sectionId != ''" >
            and ccs.section_id = #{sectionId} ::uuid
        </if>
        <if test="status != null" >
            and ss.status = #{status}
        </if>
        <if test="name != null" >
            and (su.name like concat('%',#{name},'%') or sa.user_id like concat('%',#{name},'%'))
        </if>
        group by sa.user_id, sa.assignment_id, ss.status, sa.committed_at, su.name
    </select>

    <select  id="getAssignmentByClassId" resultType="org.tdos.tdospractice.entity.AssignmentEntity">
        select a.id, a.section_id as sectionId, a.end_at as endAt, a.qualified_score as qualifiedScore,
        a.created_at as createdAt, a.updated_at as updatedAt
        from assignment a
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        inner join course ci on ci.id = ccs.course_id
        inner join class_course cc on cc.course_id = ci.id
        where cc.class_id = #{ClassId} ::uuid
    </select>

    <select  id="getAssignmentByCourseId" resultType="org.tdos.tdospractice.entity.AssignmentEntity">
        select a.id, a.section_id as sectionId, a.end_at as endAt, a.qualified_score as qualifiedScore,
        a.created_at as createdAt, a.updated_at as updatedAt
        from assignment a
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        inner join course ci on ci.id = ccs.course_id
        where ccs.course_id =#{CourseId} ::uuid
    </select>

    <select  id="getAssignmentByChapterId" resultType="org.tdos.tdospractice.entity.AssignmentEntity">
        select a.id, a.section_id as sectionId, a.end_at as endAt, a.qualified_score as qualifiedScore,
        a.created_at as createdAt, a.updated_at as updatedAt
        from assignment a
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        where ccs.chapter_id =#{ChapterId} ::uuid
    </select>

    <select  id="getAssignmentBySectionId" resultType="org.tdos.tdospractice.entity.AssignmentEntity">
        select a.id, a.section_id as sectionId, a.end_at as endAt, a.qualified_score as qualifiedScore,
        a.created_at as createdAt, a.updated_at as updatedAt
        from assignment a
        where a.section_id =#{sectionId} ::uuid
    </select>

    <delete id="deleteAssignmentById">
        delete from assignment where id=#{id}::uuid;
    </delete>

    <select id="ifSectionAssignmentByAssignmentId"  resultType="Boolean">
        select ci.status = 0
        from assignment a
        inner join course_chapter_section ccs on ccs.section_id = a.section_id ::uuid
        inner join course ci on ci.id = ccs.course_id
        where a.id =#{id}::uuid;
    </select>

    <update id="modifyAssignmentNameById">
        update assignment set name = #{name}, end_at = #{endAt}, qualified_score = #{qualifiedScore} where id=#{id}::uuid;
    </update>

    <insert id="addAssignment" useGeneratedKeys="true" keyProperty="id">
        insert into assignment (section_id, name, end_at, qualified_score) values (#{sectionId}, #{name}, #{endAt}, #{qualifiedScore});
    </insert>

</mapper>
