<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.CategoryMapper">
    <insert id="insert" parameterType="org.tdos.tdospractice.entity.CategoryEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into
        category("name",parent_category_id)
        values(#{name},#{parent_category_id})
    </insert>

    <select id="findParentCategory" resultType="org.tdos.tdospractice.entity.CategoryEntity">
        select * from category where parent_category_id IS NULL
    </select>

    <select id="findChildCategory" resultType="org.tdos.tdospractice.entity.CategoryEntity">
        select * from category where parent_category_id = #{parent_category_id}::uuid
    </select>

    <select id="findCategory" resultType="org.tdos.tdospractice.entity.CategoryEntity">
        select * from category where id = #{id}::uuid
    </select>

    <select id="findAllChildCategory" resultType="org.tdos.tdospractice.entity.CategoryEntity">
        select * from category where parent_category_id IS NOT NULL
    </select>

    <select id="findCategoryByName" resultType="org.tdos.tdospractice.entity.CategoryEntity">
        select * from category where name = #{name}
    </select>
</mapper>
