<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.ChapterMapper">
    <update id="modifyChapterNameById">
        update chapter set "name"= #{chapterName}, introduction= #{introduction} where id=#{id}::uuid
    </update>

    <select  id="hasChapter" resultType="int">
        select count(*) from chapter where id=#{id}::uuid
    </select>

    <insert id = "insertChapter" useGeneratedKeys="true" keyProperty="id">
        insert into chapter(name, introduction, "order") values (#{name},#{introduction},#{order});
    </insert>

</mapper>
