<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.ChapterSectionExperimentMapper">
    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="false">
        insert into
        chapter_section_experiment(section_id, experiment_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.section_id}::uuid,
            #{item.experiment_id}::uuid
            )
        </foreach>
    </insert>

    <select id="getExperimentIds" resultType="java.lang.String">
        SELECT experiment_id FROM
        chapter_section_experiment
        WHERE section_id IN
        <foreach collection="section_ids" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}::uuid
        </foreach>;
    </select>

    <delete id="deleteChapterSectionExperiment">
        delete from chapter_section_experiment where section_id = #{section_id}::uuid and experiment_id = #{experiment_id}::uuid
    </delete>


    <select  id="getExperimentNumberbySection" resultType="int">
        select count(*) from chapter_section_experiment
            WHERE section_id =  #{section_id}::uuid
    </select>

    <select  id="getSectionNumberbyExperiment" resultType="int">
        select count(*) from chapter_section_experiment
            WHERE experiment_id =  #{experiment}::uuid
    </select>

    <select  id="getChapterSectionExperimentByCourse" resultType="org.tdos.tdospractice.entity.ChapterSectionExperimentEntity">
        SELECT * FROM chapter_section_experiment
        WHERE section_id in
        (SELECT section_id FROM course_chapter_section WHERE course_id = #{course_id}::uuid)
    </select>

    <select  id="getChapterSectionExperimentBySection" resultType="org.tdos.tdospractice.entity.ChapterSectionExperimentEntity">
        SELECT * FROM chapter_section_experiment
        WHERE section_id = #{section_id}::uuid
    </select>






</mapper>
