<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.ClassMapper">
    <select id="findAll" resultType="org.tdos.tdospractice.entity.ClassEntity">
        select * from class;
    </select>

    <select id="findClassById" resultMap="class">
        select * from class where id = #{id}::uuid;
    </select>

    <!-- 自定义高级映射 -->
    <resultMap type="org.tdos.tdospractice.entity.ClassEntity" id="class">
        <!-- 映射主键 -->
        <id column="id" property="id"/>
        <!-- 映射其他列 -->
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findClassNumber" resultMap="classNumber">
        SELECT count(su.id),su.class_id from sim_user su
        where su.role_id = 2 GROUP BY su.class_id
    </select>

    <resultMap type="org.tdos.tdospractice.type.ClassNumber" id="classNumber">
        <result column="class_id" property="classId"/>
        <result column="count" property="numbers"/>
    </resultMap>

</mapper>
