<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.ClassMapper">
    <select id="findAll" resultType="org.tdos.tdospractice.entity.ClassEntity">
        select c.* ,sa.count from class c left join (
        select count(*) as count,class_id from sim_user group by class_id ) sa on sa.class_id = c.id
    </select>

    <select id="findClassById" resultMap="class">
        select * from class where id = #{id}::uuid;
    </select>

    <select id="findClassByClassesId" resultMap="class">
        select * from class where id = #{id}::uuid;
    </select>

    <select id="findClassByClasses" resultMap="class">
        select * from class where name = #{name};
    </select>

    <insert id="insertClassByUser" useGeneratedKeys="true" keyProperty="id">
      insert into class(name,grade,major,department)
      values (#{name},#{grade},#{major},#{department})
    </insert>

    <!-- 自定义高级映射 -->
    <resultMap type="org.tdos.tdospractice.entity.ClassEntity" id="class">
        <!-- 映射主键 -->
        <id column="id" property="id"/>
        <!-- 映射其他列 -->
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findClassNumber" resultMap="classNumber">
        SELECT count(su.id),su.class_id from sim_user su
        where su.role_id = 2 and su.class_id != 'fb0a1080-b11e-427c-8567-56ca6105ea07'  GROUP BY su.class_id
    </select>

    <select id="findClassCountByClassId" resultType="int">
        SELECT count(id) from sim_user
        where role_id = 2 and class_id = #{classId} :: uuid
    </select>

    <select id="findStudentsByClass" resultType="org.tdos.tdospractice.type.ClassStudents">
        select s.id as userId,s.name as userName, s.gender,c.department, c.grade,c.name,c.id as classId from class c
        inner JOIN sim_user s on c.id = s.class_id where 1 = 1
        <if test="class_ids!=null and class_ids.size > 0">
             AND c.id in
            <foreach collection="class_ids" item="id" index="index"
                     open="(" close=")" separator=",">
                #{id}::uuid
            </foreach>
        </if>
        <if test="name!=null and name!=''">
             AND s.name like concat('%',#{name},'%')
        </if>
        <if test="studentId!=null and studentId!=''">
             AND s.id like concat('%',#{studentId},'%')
        </if>
    </select>

    <resultMap type="org.tdos.tdospractice.type.ClassNumber" id="classNumber">
        <result column="class_id" property="classId"/>
        <result column="count" property="numbers"/>
    </resultMap>

</mapper>
