<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.CourseMapper">

    <resultMap id="CourseResult" type="org.tdos.tdospractice.type.Course">
        <id column="course_id" property="id"/>
        <result column="course_name" property="name"/>
        <result column="pic_url" property="picUrl"/>
        <result column="owner_id" property="ownerId"/>
        <result column="course_introduction" property="introduction"/>
        <result column="start_at" property="startAt"/>
        <result column="end_at" property="endAt"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="model_id" property="modelId"/>
        <result column="created_at" property="createdAt"/>
        <collection property="chapters" ofType="org.tdos.tdospractice.type.Chapter">
            <id column="chapter_id" property="id"/>
            <result column="chapter_name" property="name"/>
            <result column="chapter_introduction" property="introduction"/>
            <result column="chapter_order" property="order"/>
            <collection property="sections" ofType="org.tdos.tdospractice.type.Section">
                <id column="section_id" property="id"/>
                <result column="section_name" property="name"/>
                <result column="section_order" property="order"/>
            </collection>
        </collection>
    </resultMap>


    <select  id="getAdminCourseList" resultMap="CourseResult">
        SELECT c.id ::"varchar" as course_id,c.name as course_name,c.pic_url,c.owner_id,c.introduction as course_introduction,c.start_at, c.end_at,c.status,c."type",c.model_id,
chapter.id ::"varchar" as chapter_id, chapter.name as chapter_name, chapter.introduction as chapter_introduction, chapter."order" as chapter_order ,
section.id ::"varchar" as section_id, section.name as section_name, section."order" as section_order from course_chapter_section ccs
inner join course c on c.id = ccs.course_id and c.type = 0 and c.status = 1
inner join chapter on chapter.id = ccs.chapter_id
inner join "section" on "section".id = ccs.section_id
    </select>

    <select  id="getAdminUnpublishedCourseList" resultMap="CourseResult">
        SELECT c.id ::"varchar" as course_id,c.name as course_name,c.pic_url,c.owner_id,c.introduction as course_introduction,c.start_at, c.end_at,c.status,c."type",c.model_id,
chapter.id ::"varchar" as chapter_id, chapter.name as chapter_name, chapter.introduction as chapter_introduction, chapter."order" as chapter_order ,
section.id ::"varchar" as section_id, section.name as section_name, section."order" as section_order from course_chapter_section ccs
inner join course c on c.id = ccs.course_id and c.type = 0 and c.status = 0
inner join chapter on chapter.id = ccs.chapter_id
inner join "section" on "section".id = ccs.section_id
    </select>

    <select  id="hasCourseExist" resultType="int">
        select count(*) from course where id=#{id}::uuid
    </select>

    <select  id="getCourseByCourseId" resultMap="CourseResult">
        SELECT c.id ::"varchar" as course_id,c.name as course_name,c.pic_url,c.owner_id,c.introduction as course_introduction,c.start_at, c.end_at,c.status,c."type",c.model_id,
chapter.id ::"varchar" as chapter_id, chapter.name as chapter_name, chapter.introduction as chapter_introduction, chapter."order" as chapter_order ,
section.id ::"varchar" as section_id, section.name as section_name, section.order as section_order from course_chapter_section ccs
inner join course c on c.id = ccs.course_id and c.id = #{courseId}::uuid
inner join chapter on chapter.id = ccs.chapter_id
inner join "section" on "section".id = ccs.section_id;
    </select>


    <insert id = "insertCourse" useGeneratedKeys="true" keyProperty="id">
        insert into course(name, pic_url, introduction, start_at, end_at, status, owner_id, type, model_id) values (#{name},#{picUrl},#{introduction},#{startAt},#{endAt},#{status},#{ownerId},#{type},#{modelId});
    </insert>

    <select  id="getCourseListById" resultMap="CourseResult">
        SELECT c.id as course_id,c.name as course_name,c.pic_url,c.owner_id,c.introduction as course_introduction,c.start_at, c.end_at,c.status,c."type",c.model_id,
chapter.id as chapter_id, chapter.name as chapter_name, chapter.introduction as chapter_introduction, chapter."order" as chapter_order ,
section.id as section_id, section.name as section_name, section.order as section_order from course_chapter_section ccs
inner join course c on c.id = ccs.course_id and c.type = 1 and c.owner_id = #{userId}
inner join chapter on chapter.id = ccs.chapter_id
inner join "section" on "section".id = ccs.section_id
    </select>

    <select  id="findCourseChapterOrder" resultType="java.lang.Integer">
        select max(chapter."order") from chapter inner join course_chapter_section ccs on ccs.chapter_id = chapter.id where course_id= #{courseId}::uuid
    </select>

    <select  id="findCourseChapterSectionOrder" resultType="java.lang.Integer">
        select max("section"."order") from section inner join course_chapter_section ccs on ccs.section_id = section.id where course_id= #{courseId}::uuid and chapter_id= #{chapterId}::uuid
    </select>

    <update  id="modifyCourseStatus">
        update course set status = 1
        <if test="start != null">
            , start_at = #{start} :: timestamp
        </if>
        <if test="end != null">
            , end_at = #{end} :: timestamp
        </if>
        where id= #{courseId}::uuid
    </update>

    <select  id="getCourseList" resultMap="CourseResult">
        SELECT c.id as course_id,c.name as course_name,c.pic_url,c.owner_id,c.introduction as course_introduction,c.start_at, c.end_at,c.status,c."type",c.model_id,
chapter.id as chapter_id, chapter.name as chapter_name, chapter.introduction as chapter_introduction, chapter."order" as chapter_order ,
section.id as section_id, section.name as section_name, section.order as section_order from course_chapter_section ccs
inner join course c on c.id = ccs.course_id and c.type = 1 and c.status = 1
        <if test="start != null">
            AND c.start_at &gt;= #{start} :: timestamp
        </if>
        <if test="end != null">
            AND c.end_at &lt;= #{end} :: timestamp
        </if>
inner join chapter on chapter.id = ccs.chapter_id
inner join "section" on "section".id = ccs.section_id
inner join class_course cc on cc.course_id = ccs.course_id :: varchar
inner join "sim_user" on sim_user.class_id = cc.class_id and sim_user."id" = #{userId}
    </select>


    <select  id="getAdminCourseListByClassId" resultMap="CourseResult">
        SELECT c.id ::"varchar" as course_id,c.name as course_name, c.pic_url, c.owner_id, c.introduction as course_introduction, c.start_at, c.end_at, c.status, c."type", c.model_id,
chapter.id ::"varchar" as chapter_id, chapter.name as chapter_name, chapter.introduction as chapter_introduction, chapter."order" as chapter_order ,
section.id ::"varchar" as section_id, section.name as section_name, section."order" as section_order
from class_course cc
inner join course_chapter_section ccs on cc.course_id = css.course_id
inner join course c on c.id = ccs.course_id and c.type = 1 and c.status = 1
inner join chapter on chapter.id = ccs.chapter_id
inner join "section" on "section".id = ccs.section_id where cc.class_id = #{classId}
    </select>

    <select  id="getCourseById" resultMap="CourseResult">
        SELECT c.id ::"varchar" as course_id,c.name as course_name, c.pic_url, c.owner_id, c.introduction as course_introduction, c.start_at, c.end_at, c.status, c."type", c.model_id,
chapter.id ::"varchar" as chapter_id, chapter.name as chapter_name, chapter.introduction as chapter_introduction, chapter."order" as chapter_order ,
section.id ::"varchar" as section_id, section.name as section_name, section."order" as section_order
from course_chapter_section ccs
inner join course c on c.id = ccs.course_id
inner join chapter on chapter.id = ccs.chapter_id
inner join "section" on "section".id = ccs.section_id where ccs.course_id = #{courseId} :: uuid
    </select>

</mapper>
