<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.ExperimentMapper">

    <insert id="insert" parameterType="org.tdos.tdospractice.entity.ExperimentEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into
        experiment(name,pic_url,end_at,step,duration,category_id,introduce)
        values(#{name},#{pic_url},#{end_at},#{step},#{duration},#{category_id}::uuid,#{introduce})
    </insert>

    <select id="findExperiment" resultType="org.tdos.tdospractice.entity.ExperimentEntity">
        select * from experiment where 1 = 1
        <if test="category_ids != null and category_ids.size > 0">
            AND category_id IN
            <foreach collection="category_ids" item="id" index="index"
                     open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="name!=null and name!=''">
            AND "name" like concat('%',#{name},'%')
        </if>
    </select>

    <select id="findAllByIds" resultType="org.tdos.tdospractice.entity.ExperimentEntity">
        SELECT * FROM experiment
        WHERE id IN
        <foreach collection="section_ids" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}::uuid
        </foreach>
    </select>

    <select id="findById" resultType="org.tdos.tdospractice.entity.ExperimentEntity">
        select * from experiment where id = #{id}::uuid
    </select>

    <select  id="hasExperiment" resultType="int">
        select count(*) from
            INNER JOIN chapter_section_experiment c
            ON e.id = c.experiment_id
            WHERE c.section_id =  #{section_id}::uuid
    </select>

    <update id="updateExperiment">
        update experiment
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="pic_url != null">
                pic_url = #{pic_url},
            </if>
            <if test="end_at != null">
                end_at = #{end_at},
            </if>
            <if test="duration != null">
                duration = #{duration},
            </if>
            <if test="updated_at != null">
                updated_at = #{updated_at},
            </if>
            <if test="report_requirement != null">
                report_requirement = #{report_requirement}
            </if>
        </set>
        where id = #{id}::uuid
    </update>

    <delete id="deleteExperiment">
        delete from experiment where id = #{id}::uuid
    </delete>

    <delete id="deleteExperimentList">
        delete from experiment
        where id in
        <foreach collection="list" open="(" separator="," close=")" item="id">
            #{id}::uuid
        </foreach>
    </delete>

</mapper>
