<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.StudentAnswerMapper">

    <select  id="getStudentAnswerByAssignmentUserId" resultType="org.tdos.tdospractice.type.StudentQuestionAnswer">
        select qb.id, qb.type, qb.content, qb.choice, qb.answer, qb.pic_url as picUrl, qb.model_id as modelId,
        qb.category_id as categoryId, sa.answer as studentAnswer, qba.score  as totalScore, sa.score
        from student_answer sa
        inner join question_back qb on qb.id = sa.question_id
        inner join question_back_assignment qba on qba.question_id = sa.question_id and qba.assignment_id = sa.assignment_id
        where sa.user_id = #{userId} and sa.assignment_id = #{assignmentId}::uuid
    </select>

    <select  id="getStudentAnswerByCourseId" resultType="org.tdos.tdospractice.entity.StudentAnswerEntity">
        select sa.id, sa.question_id as questionId, sa.assignment_id as assignmentId, sa.user_id as userId,
        sa.answer, sa.score, sa.created_at as createdAt, sa.updated_at as updatedAt
        from student_answer sa
        inner join assignment a on a.id = sa.assignment_id::uuid
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        where ccs.course_id =#{courseId}
    </select>

    <select  id="getStudentAnswerByChapterId" resultType="org.tdos.tdospractice.entity.StudentAnswerEntity">
        select sa.id, sa.question_id as questionId, sa.assignment_id as assignmentId, sa.user_id as userId,
        sa.answer, sa.score, sa.created_at as createdAt, sa.updated_at as updatedAt
        from student_answer sa
        inner join assignment a on a.id = sa.assignment_id::uuid
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        where ccs.chapter_id =#{chapterId}
    </select>

    <select  id="getStudentAnswerBySectionId" resultType="org.tdos.tdospractice.entity.StudentAnswerEntity">
        select sa.id, sa.question_id as questionId, sa.assignment_id as assignmentId, sa.user_id as userId,
        sa.answer, sa.score, sa.created_at as createdAt, sa.updated_at as updatedAt
        from student_answer sa
        inner join assignment a on a.id = sa.assignment_id::uuid
        where a.section_id =#{sectionId}
    </select>

    <delete id="deleteStudentAnswerById">
        delete from student_answer where id=#{id}::uuid;
    </delete>

    <select id="ifSectionStudentAnswerById"  resultType="Boolean">
        select ci.status = 0
        from student_answer sa
        inner join assignment a on a.id = sa.assignment_id ::uuid
        inner join course_chapter_section ccs on ccs.section_id = a.section_id::uuid
        inner join course ci on ci.id = ccs.course_id
        where sa.id =#{id}::uuid;
    </select>

    <update id="modifyStudentAnswerById">
        update student_answer set answer = #{answer}, score = #{score} where id=#{id}::uuid;
    </update>

    <insert id="addStudentAnswer" useGeneratedKeys="true" keyProperty="id">
        insert into student_answer (uestion_id, assignment_id, user_id, answer, score)
        values
        (#{questionId}, #{assignmentId}, #{userId}, #{answer}, #{score});
    </insert>

    <insert id="addStudentAnswerList" parameterType="java.util.List">
        insert into student_answer (question_id, assignment_id, user_id, answer, score)
        values
        <foreach collection="studentAnswerList" item="item" separator=",">
            (
            #{item.questionId}::uuid,
            #{item.assignmentId}::uuid,
            #{item.userId},
            #{item.answer},
            #{item.score}
            )
        </foreach>
    </insert>

    <update id="modifyStudentAnswerScore">
        update student_answer
        set score = #{score}
        where question_id=#{questionId}::uuid and assignment_id = #{assignmentId}::uuid and user_id = #{userId};
    </update>

    <update id="modifyStudentAnswerStatus">
        update student_answer
        set status = #{status}, committed_at = #{committedAt}
        where assignment_id = #{assignmentId}::uuid and user_id = #{userId};
    </update>

    <delete id="deleteStudentAnswerByAssignmentUserId">
        delete from student_answer where assignment_id = #{assignmentId}::uuid and user_id = #{userId};
    </delete>

    <select  id="getQuestionBackTypeByAssignment" resultType="org.tdos.tdospractice.type.StudentQuestionAnswer">
        select distinct qb.type
        from question_back_assignment qba
        inner join question_back qb on qb.id = qba.question_id
        where qba.assignment_id =#{assignmentId} ::uuid
    </select>

    <select id="ifStudentAnswer"  resultType="Boolean">
        select case when count(*) > 0 then true else false end
        from student_answer
        where assignment_id = #{assignmentId}::uuid and user_id = #{userId};
    </select>

</mapper>
