<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.StudentScoreMapper">

    <select  id="getStudentScoreBySectionId" resultType="org.tdos.tdospractice.entity.StudentScoreEntity">
        select a.id, a.section_id as sectionId, a.end_at as endAt, a.qualified_score as qualifiedScore,
        a.created_at as createdAt, a.updated_at as updatedAt, ci.status = 0 as canUpdate
        from assignment a
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        inner join course ci on ci.id = ccs.course_id ::uuid
        where a.section_id =#{sectionId};
    </select>

    <delete id="deleteStudentScoreById">
        delete from student_score where id=#{id}::uuid;
    </delete>

    <select id="ifSectionStudentScoreById"  resultType="Boolean">
        select ci.status = 0
        from student_answer a
        inner join course_chapter_section ccs on ccs.section_id = a.section_id
        inner join course ci on ci.id = ccs.course_id ::uuid
        where a.id =#{id}::uuid;
    </select>

    <update id="modifyStudentScoreById">
        update student_score set name = #{name}, end_at = #{endAt}, qualified_score = #{qualifiedScore} where id=#{id}::uuid;
    </update>

    <insert id="addStudentScore" useGeneratedKeys="true" keyProperty="id">
        insert into student_score (section_id, name, end_at, qualified_score) values (#{sectionId}, #{name}, #{endAt}, #{qualifiedScore});
    </insert>

</mapper>
