<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.StudentScoreMapper">

    <select  id="getStudentScoreAll" resultType="org.tdos.tdospractice.entity.StudentScoreEntity">
        select ss.assignment_id as assignmentId, ss.user_id as userId, ss.score, ss.status,
        ss.created_at as createdAt, ss.updated_at as updatedAt
        from student_score ss;
    </select>

    <select  id="getStudentScoreBySectionId" resultType="org.tdos.tdospractice.entity.StudentScoreEntity">
        select ss.assignment_id as assignmentId, ss.user_id as userId, ss.score, ss.status,
        ss.created_at as createdAt, ss.updated_at as updatedAt
        from student_score ss
        inner join assignment a on a.id = ss.assignment_id
        where a.section_id =#{sectionId};
    </select>

    <delete id="deleteStudentScoreById">
        delete from student_score where assignment_id = #{assignmentId} and user_id = #{userId};
    </delete>

    <select id="ifSectionStudentScoreById"  resultType="Boolean">
        select ci.status = 0
        from student_score ss
        inner join assignment a on a.id = ss.assignment_id::uuid
        inner join course_chapter_section ccs on ccs.section_id = a.section_id::uuid
        inner join course ci on ci.id = ccs.course_id
        where ss.assignment_id = #{assignmentId} and ss.user_id = #{userId};
    </select>

    <update id="modifyStudentScoreById">
        update student_score set score = #{score}, status = #{status}
        where assignment_id = #{assignmentId} and user_id = #{userId};
    </update>

    <insert id="addStudentScore" useGeneratedKeys="true" keyProperty="id">
        insert into student_score (assignment_id, user_id, score, status) values (#{assignmentId}, #{userId}, #{score}, #{status});
    </insert>

</mapper>
