<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdos.tdospractice.mapper.UserMapper">
    <select id="findAll" resultType="org.tdos.tdospractice.entity.UserEntity">
        select * from sim_user;
    </select>

    <select id="findUserByIdAndPwd" resultMap="user">
        select * from sim_user where id = #{id} and password = #{password};
    </select>

    <select id="findUserById" resultMap="user">
        select * from sim_user where id = #{id}
    </select>

    <select id="findAllUserByRoleId" resultType="int">
        select count(*) from sim_user where role_id = #{role_id} and classid;
    </select>

    <select id="findAllByRoleID" resultMap="user">
        select * from sim_user where role_id = #{role_id}
    </select>

    <select id="findAllByRoleIDAndClasses" resultMap="user">
        select  * from sim_user where role_id = #{role_id} and class_id = #{class_id}
    </select>

    <delete id="deleteUserById">
        delete from sim_user where id=#{id}
    </delete>

    <update id="updateUserById">
        update sim_user SET name=#{name},gender=#{gender},
        phone=#{phone},identification_number=#{identificationNumber} where id=#{id}
    </update>

    <update id="updatePasswordById">
        update sim_user SET password=#{password} where id=#{id}
    </update>

    <insert id="insertUserById">
      insert into sim_user(id,name,gender,password,role_id,class_id,phone,identification_number)
      values (#{id},#{name},#{gender},#{password},#{roleId},#{classId}::uuid,#{phone},#{identificationNumber})
    </insert>

    <!-- 自定义高级映射 -->
    <resultMap type="org.tdos.tdospractice.entity.UserEntity" id="user">
        <!-- 映射主键 -->
        <id column="id" property="id"/>
        <!-- 映射其他列 -->
        <result column="role_id" property="roleID"/>
        <result column="class_id" property="classID"/>
        <result column="identification_number" property="identificationNumber"/>
        <result column="phone" property="phoneNumber"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>
